{#foreach $T as record}
<div class="col-xs-6 col-sm-3">
    <div class="item">
        <div class="pos-rlt">
            <div class="item-overlay opacity r r-2x bg-black">
                <div class="center text-center m-t-n">
                    <a href="/song/{$T.record.song_id}" data-bjax  class="jp-play-newsongs" ><i class="fa fa-play-circle i-2x"></i></a>
                </div>
            </div>
            <a href="#" ><img src="{$T.record.poster}" alt="" class="r r-2x img-full"></a>
        </div>
        <div class="padder-v">
            <a href="#" class="text-ellipsis">{$T.record.title}</a>

            <span  class="text-ellipsis text-xs text-muted">
                 {#foreach $T.record.artists as artist}
                    <a href="#" class="m-r-sm">{$T.artist.name}</a>
                {#/for}
                {#if $T.record.artists.length==0}
                    <span  class="m-r-sm">..</span>
                {#/if}
            </span>

        </div>
    </div>
</div>

{#/for}