{#param name=rank value=1}
{#foreach $T as record}
<a href="/song/{$T.record.song_id}" data-bjax class="jp-play-topsongs list-group-item clearfix">
    <span class="pull-right h2 text-muted m-l">{$P.rank++}</span>
    <span class="pull-left thumb-sm avatar m-r">
     <img src="{$T.record.poster}" alt="...">
    </span>
    <span class="clear">
        <span>{$T.record.title}</span>

        <small class="text-muted clear text-ellipsis">
            {#foreach $T.record.artists as artist}
                    {#if $T.artist$index>0}
                        &&{$T.artist.name}
                    {#else}
                        {$T.artist.name}
                    {#/if}
            {#/for}
        </small>


    </span>
</a>
{#/for}